%head
  %meta{:charset => "utf-8"}
  %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}
  %title @@title
  %meta{:content => "@@description", :name => "description"}
  %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}
  %link{:href => "apple-touch-icon.png", :rel => "apple-touch-icon"}
  / Place favicon.ico in the root directory
  %link{:href => "assets/css/main.css", :rel => "stylesheet"}
