!!!
%html.no-js{:lang => ""}
  @@include('./shared/head.haml', {"title": "Gulp Starter", "description": ""})

  %body
    /[if lt IE 8]
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    / Add your site or application content here

    %h1 Gulp All The Things!

    @@include('./shared/foot.haml', {"title": "Gulp Starter", "description": ""})